

P{
    font-size: 60px;
    text-transform:inherit;
    font-style:inherit; 
    color: rgb(4, 8, 72); 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-display: 50px;
    margin-bottom: 20px;
}

body{
    text-align: center;
    display: grid;
    color: aqua;
}

.container{
    background-color: #413d3f;
    height: 550px; 
    width: 550px;
    display: grid;
    margin-block: 450px;
    border-radius: 20px;
    margin-left:460px;
    text-align: center;
    margin-top: 0%;
}

.button{
    background-color:#ac8007;
    margin:rgb(66, 234, 10);
    padding: 20px;
    height: 50px; 
    width: 56px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    font-size: larger;
    font-style:normal;
    border-color: #f7f7f7;
    text-align: center;
    justify-content: center;
} 
#ce{
    background-color:#ac8007;
    margin:rgb(66, 234, 10);
    padding: 20px;
    height: 50px; 
    width: 56px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    font-size: larger;
    font-style:normal;
    border-color: #f7f7f7;
    text-align: center;
    justify-content: center;
}

#ac{
    background-color:#ac8007;
    margin:rgb(66, 234, 10);
    padding: 20px;
    height: 50px; 
    width: 56px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    font-size: larger;
    font-style:normal;
    border-color: #f7f7f7;
    text-align: center;
    justify-content: center;
}

#eval{
    background-color:#ac8007;
    margin:rgb(66, 234, 10);
    padding: 20px;
    height: 50px; 
    width: 56px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    font-size: larger;
    font-style:normal;
    border-color: #f7f7f7;
    text-align: center;
    justify-content: center;
}
 #screen{
    padding-block: 20px;
    height: 100px; 
    width: 480px;
    border-radius: 9px;
    border: black;
    background-color:#dfe6ea;
    text-align: center;
    margin-top: 15px;
    font-size: larger;
}

.display{
    text-align: center;
}