

p{
    font-size: 60px;
    text-transform:inherit;
    font-style:inherit; 
    color: rgb(4, 8, 72); 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    font-display: 50px;
}

#title{
color:blue;
}

.mx-auto{
    margin: auto;
}

.flex{
display:flex;
}

.flex col{
    flex-direction: column;
}

.related{
    list-style:none;
}

.main_header{
    backg;
    round-color:#f7f7f7;
}

aside{
    border:rgba(196, 37, 196, 0.467)
}

body{
    color:aqua
}

li:first-child{
    font-weight: bold; 
}

.container{
    background-color: #010d14;
    height: 600px; 
    width: 480px;
    display: grid;
    border-radius: 20px;
}

.button{
    background-color:#ac8007;
    margin:rgb(66, 234, 10);
    padding: 35px;
    height: 75px; 
    width: 70px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 15px;
    font-size: larger;
    font-style:inherit;
    border-color: #f7f7f7;
    text-align: center;
}

.input{
    padding-block: 10px;
    height: 90px; 
    width: 440px;
    border-radius:9px;
    border: solid black;
    background-color:#dfe6ea;
    display: flex; 
   align-self: auto;
}

.sub{
    width: 60px;
    height : 38px;
    background-color:#e00d0d;
    border-radius: 30px;
    border-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}







